<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>TravelMap</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>

<body data-token="{{ token }}">

    <div class="app-container">
        <div id="photo-viewer">
            <button class="nav-btn nav-prev" onclick="changePhoto(-1)">&#10094;</button>
            <img id="current-photo" src="" alt="Lade...">
            <div class="photo-info" id="photo-caption">Initialisiere...</div>
            <button class="nav-btn nav-next" onclick="changePhoto(1)">&#10095;</button>
        </div>

        <div id="map"></div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>